  <div class="landing">
    <div class="splash-container">
      <div class="blurb-box">
        <h1>Hi there, we're Notify!</h1>
        <p> Notify your collegues and employees right away and avoid the delay.
              <br>
              <br>

        </p>
      </div>

      <div class="button-box">
        <span> <%= link_to 'Login', :login %>    |  </span>
        <span> <%= link_to 'Register', new_user_path %> </span>
      </div>
    </div>
  </div>

  <div class="info-container">
    <h1 id="info-header"> What we do: </h1>
  </div>


  <div class="info-box">
    <h1> Task and Shift Management</h1>
    <p> Never scramble to fill an empty shift again</p>
  </div>


  <div class="info-box">
    <h1> Live updates to your entire staff</h1>
    <p> Notifications are sent via sms to every registered user in your company</p>
  </div>

  <div class="info-box">
    <h1> Empower workers manage themselves</h1>
    <p> Employees can easily trade and manage their shifts allowing them to have greater control of their time </p>
  </div>
