  <div class="landing">
    <div class="splash-container">
      <div class="blurb-box">
        <h1>Hi there, we're Notify!</h1>
        <p> This is a blurb. Blurby blurb blurb.
              <br>
              <br>
            Hi Matt!
        </p>
      </div>

      <div class="button-box">
        <span> <%= link_to 'Login', :login %> </span>
        <span> <%= link_to 'Register', new_user_path %> </span>
      </div>
    </div>
  </div>

  <div class="info-container">
    <h1 id="info-header"> What we do: </h1>
  </div>

  <div class="info-box">
    <h1> Site Features</h1>
    <p> They go here. </p>
  </div>

  <div class="info-box">
    <h1> Site Features</h1>
    <p> They go here. </p>
  </div>

  <div class="info-box">
    <h1> Site Features</h1>
    <p> They go here. </p>
  </div>

  <div class="info-box">
    <h1> Site Features</h1>
    <p> They go here. </p>
  </div>
