<div id="notifications-header">
  <h1> Notifications Center </h1>
</div>

<div class="notifications-container">

  <!-- Left side -->

  <div class="mobile-new-notification">
    <h2>
      <%= link_to 'New Notification', new_notification_path %>
    </h2>
  </div>

  <div class="index">

    <div id="index-header">
      <h2>
        My Inbox
      </h2>
    </div>

    <div id="notifications-count">
      <h3>
        <%= @notifications.count %> notifications
      </h3>
    </div>

      <% @notifications.reverse_each do |notification| %>

        <% if notification.company_id == current_user.company_id %>
          <div class="index-notification">
            <h3 id="notification-title">
              <%= link_to notification.title, notification_url(notification)%>
            </h3>
          </div>
        <% end %>

      <% end %>

  </div>

  <!-- Right side -->

  <div class="message-container">
    <div class="message-controls">
      <ul id="message-nav">
        <li>
          <h2>
            <%= link_to 'New Notification', new_notification_path %>
          </h2>
        </li>
      </ul>
    </div>

    <div class="message-title-box">
      <h3 id="message-title">
        <!-- Message title goes here -->
      </h3>
      <h4 id="message-sent-at">
        <!-- Message created_at goes here -->
      </h4>
    </div>

    <div class="message-author-box">
      <h4 id="message-author">
        <!-- Message author name goes here -->
      </h4>
      <h4 id="message-recipient">
        <!-- Message recipient name goes here -->
      </h4>
    </div>

    <div class="message-body">
      <p id="message-text">
        <!-- Message contents go here -->
      </p>
    </div>

    <div class="empty-message">
      <h2>
        Please select a message to view details
      </h2>
    </div>
  </div>

</div>
