<div id="notifications-header">
  <h1> Notifications Center </h1>
</div>

<div class="notifications-container">

  <!-- Left side -->

  <div class="index">

    <div id="index-header">
      <h2>
        My Inbox
      </h2>
    </div>

    <div id="notifications-count">
      <h3>
        <%= @notifications.count %> notifications
      </h3>
    </div>

      <% @notifications.reverse_each do |notification| %>

        <% if notification.company_id == current_user.company_id %>
          <div class="index-notification">
            <h3 id="notification-title">
              <%= link_to notification.title, notification_url(notification)%>
            </h3>
          </div>
        <% end %>

      <% end %>

  </div>

  <!-- Right side -->

  <div class="message-container">

  </div>

</div>
