<div class="company-box">

  <div class="company-header">
    <h1> <%= @company.name %> </h1>
  </div>

  <div class="employees-list">
    <%= render "employees" %>
  </div>

  <%= link_to 'Edit', edit_company_path(@company) %>

</div>
