// Colours:

$dark-green: #277a64;
$light-green: #34a889;

$placeholder-grey: #d6d6d6;

// Fonts:

$roboto-slab: 'Roboto Slab', serif;
$raleway: 'Raleway', serif;

// Line height:

$magic: 1.6875em; 
