// Colours:

$dark-blue: #1554c1;
$light-blue: #1d9bf4;
$dark-green: #277a64;
$light-green: #34a889;

$white: #fff; 
$placeholder-grey: #d6d6d6;

// Fonts:

$roboto-slab: 'Roboto Slab', serif;
$raleway: 'Raleway', serif;

// Line height:

$magic: 1.6875em;
