/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=require normalize-rails
 *= require_tree .
 *= require_self
 */

 /* GLOBAL STYLES */

 * {
   box-sizing: border-box;
   padding: 0;
 }

/* HEADER STYLES: */
/* FULLSCREEN: */

#logo {
  position: fixed;
  box-sizing: content-box;
  top: 0px;
  left: 0px;
  padding: 10px 40px;
  z-index: 100;

  font-size: 1.25em;
  line-height: 0px;
  color: white;
  background-color: #277a64;
}

/*-------------------------------*/

.navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;

  background-color: #277a64;
}

.navbar ul {
  float: right;
  margin: auto;
  margin-right: 30px;
}

.navbar li {
  display: inline-block;
  padding: 1em;

  color: white;
}

/* SPACER STYLE*/

#spacer {
  margin: auto;
  height: 30px;
}
