// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Desktop styles:

.calendar-header {
  margin: auto;
  margin-top: 30px;
  width: 1040px;
  padding: 5px;

  background-color: $light-green;
}

.calendar-box {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 22px;
  width: 1040px;

}

.calendar-desktop {
  float: left;
  width: 700px;
  margin-right: 25px;
}

// Shift details box:

.calendar-shift-box {
  float: right;
  width: 365px;

  background-color: white;
}

#shift-box-header {
  margin: auto;
  width: 100%;
  padding: 1px;

  text-align: center;
  background-color: pink;
}

#empty-shift {
  margin-top: 150px;
  text-align: center;

  font-family: $raleway;
  color: grey;
}

#shift-details {
  margin: auto;
}

.shift-field {
  display: none;
  margin: auto;
  width: 95%;
  padding-left: 10px;

  font-family: $raleway;
  border-bottom: 1px solid $placeholder-grey;
}

#shift-title {
  font-family: $roboto-slab;
}

#shift-notification {
  display: none;
}

// admin box

.calendar-admin-box {
  margin: auto;
  margin-top: 22px;
  margin-bottom: 30px;
  width: 1040px;
  padding: 5px;

  background-color: $light-blue;
}

.calendar-full {
  display: inline-block;
  padding: 5px;
  background-color: $dark-green;
}


.calendar-mobile {
  display: none;
}

.mobile-shift-box {
  display: none;
}



@media(max-width: 425px){
  .calendar-desktop {
    display: none;
  }

  .calendar-mobile {
    display: block;
    box-sizing: content-box;
  }
  .calendar-mobile thead {
    display: none;
  }

  .calendar-mobile td {
    display: block;
    width: 100%;
  }

  .mobile-shift-box {
    display: block;
  }

}
