// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GLOBAL STYLES


// DESKTOP STYLES

// COMPANY HEADER

.company-first-box {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 1040px;
}

  // LEFT SIDE:

    #company-photo {
      width: 600px;
      height: 300px;
      background-color: pink;
    }

    #company-photo > img {
      width: 600px;
      height: 300px;
    }

  // RIGHT SIDE:

    .company-contact-box {
      float: right;
      width: 438px;
      background-color: $white;
    }

    #company-details {
      width: 90%;
      margin: auto;
    }

    #company-name {
      margin-top: 10px;
      font-family: $roboto-slab;
      font-weight: normal;
      font-size: 1.75em;
      line-height: $magic;
      border-bottom: 1px solid $placeholder-grey;
    }

    #company-details > p {
      margin: 20px 0px;

      font-family: $raleway;
      font-size: 1.25em;
    }

// BELOW COMPANY HEADER

  .company-second-box {
    display: flex;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 30px;
    width: 1040px;
  }

// NOTIFICATIONS

  #company-notifications {
    width: 600px;
    margin-right: 22px;

    background-color: $light-green;
  }

  #company-notifications-header {
    width: 100%;
    padding: 1px;
    padding-left: 10px;

    font-family: $roboto-slab;
    font-weight: normal;
    font-size: 1em;
    line-height: $magic;

    background-color: pink;
  }

  // EMPLOYEES

  #company-employees {
    float: right;
    width: 40%;

    background-color: $light-blue;
  }

  #employees-header {
    width: 100%;
    padding: 1px;
    padding-left: 10px;

    font-family: $roboto-slab;
    font-weight: normal;
    font-size: 1em;
    line-height: $magic;

    background-color: pink;
  }


// TABLET STYLES
//
@media(max-width: 1024px) and (min-width: 426px) {


}

// MOBILE STYLES

@media(max-width: 425px) {

  .company-first-box {
    display: inline-block;
    margin: auto;
    width: 100%;
  }

  // left side:

  #company-photo {
    width: 100%;
  }

  #company-photo img {
    width: 100%;
  }

  // right side:

  .company-contact-box {
    float: none;
    width: 100%;
    margin: auto;
  }

  #company-details {
    width: 100%;
    padding-bottom: 1px;
  }

  #company-name {
    width: 100%;
    margin: auto;
    padding: 5px 0px;

    text-align: center;
    background-color: $light-green;
  }

  #company-details p {
    padding-left: 10px;
  }

  // second box:

  .company-second-box {
    display: inline-block;
    margin: auto;
    width: 100%;
  }

  // company notifications:

  #company-notifications {
    width: 100%;
    margin: auto;
  }

  // company employees:

  #company-employees {
    width: 100%;
    margin: auto;
  }

}
