// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GLOBAL STYLES

.company-box {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;

  text-align: center;

  border: 1px solid black;
}

.company-info {
  float: left;
  display: inline-block;
  width: 60%;

  background-color: white;
}

#company-photo img {
  width: 100%;
}


.employees-list {
  float: right;
  width: 40%;
}




// DESKTOP STYLES

// TABLET STYLES

@media(max-width: 1024px) and (min-width: 426px) {


}

// MOBILE STYLES

@media(max-width: 425px) {


}
