// Styles for companies/_employees partial:

// Desktop:

// employee container:

#company-employee {
  margin: auto;
  height: 100px;

  background-color: $white;
  border-bottom: 1px solid $placeholder-grey;
}


// Employee picture:

#company-employee-photo {
  display: inline-block;

  float: left;
  height: 90px;
}

#company-employee-photo > img {
  box-sizing: content-box;
  max-width: 90px;
  max-height: 90px;
  border-radius: 25%;
  padding: 5px;
}

// employee info:

#company-employee-details {
  display: inline-block;
  float: right;
  width: 70%;
  height: 100%;
}

#company-employee-name {
  margin: auto;
  width: 95%;
  // padding: 1px;

  font-family: $roboto-slab;
  font-size: .66em;
  border-bottom: 1px solid $placeholder-grey;
}

#company-employee-info {
  width: 95%;
  margin: auto;
  padding: 5px 0px;

  text-align: justify;
  font-family: $raleway;
  line-height: $magic;
}

#company-employee-info p {
  margin: auto;
}

// Tablet:

@media(max-width: 1024px) and (min-width: 426px) {


}

// Mobile:

@media(max-width: 425px) {


}
