// Styles for the simple_calendar _month_calendar partial go here:

.calendar-heading {
  margin: auto;
  width: 100%;
  padding: 5px;

  text-align: center;

}

.calendar-title {
  font-family: $roboto-slab;
  font-size: 1.5em;
  margin: 0px 75px; 
}
