// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#notification-header{
  font-family: $roboto-slab;
  font-size: 1em;
  color: white;
  background-color: $dark-green;
}
.notification-box {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  background-color: white;
}

@media(max-width: 425px) {

  .notification-box {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    background-color: white;
  }

  #notification-header {
    padding: 1px;
    padding-left: 20px;

    font-family: $roboto-slab;
    font-size: 1em;
    color: white;
    background-color: $dark-green;
  }

}
