// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Desktop styles:

.notifications-container {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 1040px;
}

#notifications-header{
  width: 1040px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 1px;
  padding-left: 10px;


  font-family: $roboto-slab;
  font-size: 1em;
  color: white;
  background-color: $dark-green;
}

// left side:

.index {
  width: 425px;
  background-color: white;
}

#index-header {
  padding: 1px;
  padding-left: 10px;
  width: 100%;

  font-family: $roboto-slab;
  font-size: 1em;
  color: white;
  background-color: $dark-blue;
}

#notifications-count {
  padding: 1px;
  padding-left: 10px;

  font-family: $raleway;
  color: white;
  background-color: $light-blue;
}

#notifications-count > h3 {
  margin: 5px 0px;
}

.index-notification {
  margin: auto;
  width: 95%;
  padding-left: 5px;

  font-family: $roboto-slab;
  font-size: 0.85em;
  border-bottom: 1px solid $placeholder-grey;
}

// Right side:

.message-container {
  float: right;
  width: 615px;

  background-color: $placeholder-light-grey;
}




#notifications-number {
  font-family: $raleway;
}

.notification-info {
  font-family: $raleway;
  font-size: 1em;
}








// MEDIA QUERIES


@media(max-width: 425px) {

  .notification-box {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    background-color: white;
  }

  #notifications-header{
    padding: 1px;
    padding-left: 20px;
  }

  #notification-title {
    padding: 1px;
    padding-left: 20px;
  }

  .notification-info {
    padding: 1px;
    padding-left: 20px;

    border-bottom: 1px solid $placeholder-grey;
  }

  #notification-author {
    padding: 1px;
  }

}
