// Place all the styles related to the PagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blurb-box {
  background-color: grey;
}

.blurb-box h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.blurb-box p {
  font-family: 'Raleway', serif;
  font-size: 1.5em;
}

.button-box span {
  width: 100px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  background-color: grey;
}

.button-box a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

// MOBILE

@media(max-width: 425px) {

  .page-container {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: DimGrey;
  }

  .splash-container {
    padding: 10px 0px;
    background-color: white;
  }

  .blurb-box {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: green;
  }

  .button-box {
    width: 60%;
    height: 28px;
    margin: auto;
    margin-bottom: 20px;

    text-align: center;
  }

  .button-box span {
    padding: 5px 10px;
    background-color: grey;
  }

  .button-box span:first-child {
    float: left;
  }

  .button-box span:last-child {
    float: right;
  }

  .info-container {
    position: relative;
    left: 0px;
    width: 100%;
    padding: 10px;

    background-color: teal;
  }

  #info-header {
    text-align: center;

    font-family: 'Roboto Slab';
    font-size: 2em;
    color: white;
  }

  .info-box {
    padding: 10px;
    text-align: center;
  }

  .info-box:nth-child(2n+0) {
    background-color: white;
  }

}

// iPHONE 5

.button-box span {
  width: 95px;
}
