// Place all the styles related to the PagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DESKTOP

.page-container {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 100%;
}

.landing {
  padding: 60px 0px;
  width: 100%;
  background-color: teal;
}

.splash-container {
  margin: auto;
  width: 75%;
}

.blurb-box {
  margin: auto;
  width: 70%;
  padding: 20px;
  background-color: grey;
}

.blurb-box h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.blurb-box p {
  font-family: 'Raleway', serif;
  font-size: 1.5em;
}

.button-box {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.info-container {
  display: none;
}

.info-box {
  width: 100%;
  margin: auto;
  text-align: center;
}

// LINK STYLES

.button-box span {
  width: 100px;

  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  background-color: grey;
}

.button-box a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

// MOBILE

@media(max-width: 425px) {

  .page-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .landing {
    padding: 0;
  }

  .splash-container {
    width: 100%;
    padding: 10px 0px;
    background-color: white;
  }

  .blurb-box {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: green;
  }

  .button-box {
    width: 60%;
    height: 28px;
    margin: auto;
    margin-bottom: 20px;

    text-align: center;
  }

  .button-box span {
    padding: 5px 10px;
    background-color: grey;
  }

  .button-box span:first-child {
    float: left;
  }

  .button-box span:last-child {
    float: right;
  }

  .info-container {
    position: relative;
    left: 0px;
    width: 100%;
    padding: 10px;

    background-color: teal;
  }

  #info-header {
    text-align: center;

    font-family: 'Roboto Slab';
    font-size: 2em;
    color: white;
  }

  .info-box {
    padding: 10px;
    text-align: center;
  }

  .info-box:nth-child(2n+0) {
    background-color: magenta;
  }

}

// iPHONE 5

.button-box span {
  width: 95px;
}

// TABLET

@media(max-width: 1024px) and (min-width: 426px){

  .page-container {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-top: 0;
  }

  .landing {
    padding-top: 10px;
  }

  .splash-container {
    margin: auto;
    width: 60%;
    padding: 30px 0px;
  }

  .blurb-box {
    text-align: center;
    padding: 10px;
  }

  .button-box {
    margin: auto;
    width: 40%;
    margin-top: 20px;

    text-align: center;
  }

  .info-container {
    display: none;
  }

  .info-box {
    padding: 20px;
    text-align: center;
  }

  .info-box:nth-child(2n+1) {
    background-color: cyan;
  }

  .info-box:nth-child(2n+0) {
    background-color: magenta;
  }

}
