// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user-container {
  margin-top: 60px;
}



@media(max-width: 425px) {

  .user-box {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    background-color: white;
  }

  #dashboard-header {
    padding: 1px;
    padding-left: 20px;

    font-family: $roboto-slab;
    font-size: 1em;
    color: white;
    background-color: $dark-green;
  }

  #user-info-header {
    padding: 1px;
    padding-left: 20px;

    font-family: $roboto-slab;
    font-size: 0.85em;
    color: white;
    background-color: $dark-green;
  }

  .user-info-container > div {
    padding: 10px 20px;
    border-bottom: 1px solid $placeholder-grey;

    font-family: $raleway;
    line-height: $magic;
  }

  #user-edit-header {
    padding: 5px 20px;
    background-color: $light-green;
  }

  .user-edit-header > a {

  }

}
