// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  display: flex;
  margin: auto;
  width: 1040px;
}

#dashboard-header {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 1040px;
  padding: 1px;
  padding-left: 10px;

  font-family: $roboto-slab;
  font-size: 1em;
  color: white;
  background-color: $dark-green;
}

// left side:

.user-left-container {
  width: 40%;
  margin-right: 25px;
  text-align: center;
  background-color: white;
}

#user-photo {
  padding-top: 30px;
}

#user-photo img {
  width: 250px;
  height: 250px;
}

// right side:

.user-right-container {
  float: right;
  width: 600px;
}

#user-info-header {
  padding: 1px;
  padding-left: 20px;

  font-family: $roboto-slab;
  font-size: 0.85em;
  color: white;
  background-color: $dark-green;
}

#user-detail-field {
  background-color: white;
}

.user-info-container > div {
  padding: 10px 20px;
  font-family: $raleway;
  line-height: $magic;
}

#user-edit-header {
  padding: 5px 20px;
  background-color: $light-green;
}

.user-edit-header > a {

}

// Tablet styles

@media(max-width: 1024px) and (min-width: 426px) {


}

// Mobile Styles:

@media(max-width: 425px) {

  #dashboard-header {
    margin: auto;
    width: 100%;
  }

  .user-box {
    display: inline-block;
    margin: auto;
    width: 100%;
  }

  .user-left-container {
    margin: auto;
    width: 100%;
  }

  .user-right-container {
    margin: auto;
    width: 100%; 
  }

}
