<!DOCTYPE html>
<html>
  <head>
    <title>Notify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div id="logo">
      <h1> notify! </h1>
    </div>
    <div class="navbar">
      <ul>
        <li> Login </li>
        <li> Sign Up </li>
      </ul>
    </div>

  </header>



  <body>
    <%= yield %>
  </body>
</html>
